*{
  margin: 0;
  padding: 0;
}
.ctn{
  width: 90vw;
  margin: 30px auto 20px auto;
  text-align: center;

}
.container-cards{
  display: flex;
  
  justify-content: space-around;
  margin: 30px 0 30px 0;
  flex-wrap: wrap;
}
.ctn-aling-right{
  display: flex;
  
  justify-content: flex-end;

}
.parpadeo{
  animation: parpadeo 1s infinite alternate ease-in-out;
  margin-left: 2px;
}
@keyframes parpadeo{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.3);
  }
}